<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suitmedia.sample.core.member">

    <application>

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity android:name=".MemberActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="suitmedia.instantappsample.com"
                    android:pathPattern="/member" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="suitmedia.instantappsample.com"
                    android:pathPattern="/member" />
            </intent-filter>
        </activity>
    </application>
</manifest>
